@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Anand to Developer Services!</h1>
    <p>Learn about <a href="https://www.oracle.com/cloud/">Building Oracle Cloud Infrastructure (OCI)</a>.</p>
</div>
