@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello .NET !</h1>
    <p>This sample .NET application was deployed to OCI Windows instances using Oracle Resource Manager.</p>
    <p>Learn about creating a fully automated CI/CD pipeline for migrating or deploying .NET and other Microsoft Windows applications on to OCI <a href="https://github.com/oracle-quickstart/oci-asp-net">here </a>.</p>
</div>
