name: .NET

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal
    - name: dotnet publish
      run: dotnet publish -c Release -o mvctest
    - name: Zip Folder
      run: zip -r App.zip mvctest/*
    - name: Move App.zip to windows-lb/userdata folder
      run: mv App.zip windows-lb/userdata/
    - name: Write Config & Key Files
      run: mkdir ~/.oci && echo "${{secrets.OCI_KEY_FILE}}" >> ~/.oci/key.pem
    - name: logging key
      run: cat ~/.oci/key.pem
    - name: Execute terraform code
      uses: hashicorp/setup-terraform@v1
      with: 
        terraform_version: 0.12.25
    - run: cd windows-lb && terraform init && terraform apply -auto-approve
    - name: Commit files
      run: |
        git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
        git config --local user.name "github-actions[bot]"
        git add windows-lb/terraform.tfstate
        git commit -m "Add tfstate change"
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{secrets.GITHUB_TOKEN}}
        branch: ${{ github.ref }}
    - run: echo ${{ steps.plan.outputs.stdout }}
    - run: echo ${{ steps.plan.outputs.stderr }}
    - run: echo ${{ steps.plan.outputs.exitcode }}
        
